<h1>Welcome to StayInTouch </h1>

<%= link_to "Create a New User Profile", "/users/new" %>

<br><br>

<h3> Stay in touch with your former classmates: </h3>
<table class="table table-striped">
	
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>University</th>
		<th>Graduation Year</th>
		<th>Location</th>
		<th></th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<!--Retrieve and show the info of each user. Query database to find the user's details corresponding with the id-->
		<td><%= link_to user.name, "/users/#{user.id}" %></td>
		<td><%= mail_to user.email,"#{user.email}"  %></td>
		<td><%= University.find_by(id: user.university_id).name %></td>
		<td><%= user.graduation_year %> </td>
		<td><%= Location.find_by(id: user.location_id).city %></td>
		<td><%= link_to "Edit", "/users/#{user.id}/edit" %></td>
		<td><%= link_to "Delete", "/users/#{user.id}", :method => 'delete' %></td>
	</tr>
	<% end %>
	
</table>