<h1><%= @user.name %></h1>
<h3>Email: link_to <%= @user.email %></h3>
<h3><%= link_to "Edit", "/#{@user.id}/edit" %></h3>
<h3>University: <%= University.find_by(:id => @user.university_id).name %></h3>
<h3>Graduation Year: <%= @user.graduation_year %> </h3>
<h3>Location: <%= Location.find_by(:id => @user.location_id).city%></h3>