<h1><%= @user.name %></h1>
<p><b>Email:</b> <%= mail_to "#{@user.email}", @user.email %> </p>
<p><b>University:</b> <%= University.find_by(:id => @user.university_id).name %> </p>
<p><b>Graduation Year:</b> <%= @user.graduation_year %> </p>
<p><b>Major:</b> <%= @user.major %> </p>
<p><b>Current Location:</b> <%= Location.find_by(:id => @user.location_id).city%> </p>
<p><b>Bio:</b> <%= @user.bio %> </p>
<p><b>Interested in hanging out:</b> <%= @user.interested_in_hanging_out %> </p>
<p><b>Willing to host:</b> <%= @user.interested_in_hosting %> </p>
<p><%= link_to "Edit", "/users/#{@user.id}/edit" %> </p>
<p><%= link_to "Back to main page", "/users" %> </p>