<h2><%= @event.name %></h2>
<p><b>University:</b> <%= University.find_by(:id => @event.university_id).name %> </p>
<p><b>Location:</b> <%= Location.find_by(:id => @event.location_id).city%> </p>
<p><b>Address:</b> <%= @event.address %> </p>
<p><b>Start Time:</b> <%= @event.start_time%> </p>
<p><b>End Time:</b> <%= @event.end_time%> </p>
<p><b>Description:</b> <%= @event.description %> </p>
<p><b>Organizer Contact Email:</b> <%= mail_to "#{@event.organizer_contact_email}", @event.organizer_contact_email %> </p>
<% if User.find_by(id: session["user_id"]).present? %> 
	<% if @event.creator_id == User.find_by(id: session["user_id"]).id %>
		<p><%= link_to "Edit event details", "/events/#{@event.id}/edit" %></p>
		<p><%= link_to "Permanently delete event",  event_path(@event.id), :method => 'delete' %></p>
	<% end %>
<% end %>
<p><%= link_to "Back to events main page", "/events" %> </p>