<%= form_tag "/universities/#{@university.id}", :method => 'patch' do %>

  <div>
    <label for="name">Name:</label>
    <input size="80" name="name" id="name" value="<%= @university.name %>">
  </div>

  <div>
	<label>Location:</label>
	<!--Search / query the location table in database to find location name for given id-->
	<select name="location" value="<%= Location.find_by(:id => @university.location_id).city %>">
		<% @locations.each do |location| %> 
		<option><%= location.city%></option>
		<% end %>
	</select>
  </div>

  <div>
    <label>Description: </label>
    <textarea name="description" cols="80" rows="3"><%= @university.description %></textarea>
  </div>

  <div>
    <label for="logo_url">URL to logo:</label>
    <input size="100" name="logo_url" id="logo_url" value="<%= @university.logo_url %>">
  </div>

  <input type="submit" name="commit" value="Update University">

<% end %>

<p><%= link_to "Back to universities page", "/universities" %> </p>


