<style>
	img {
		float: center;
		box-shadow: none;
		height: "200px";
	}
	div {
    overflow:hidden;
	}
</style>

<h2><%= @university.name %></h2>

<div>
	<%= image_tag @university.logo_url, height: '200' %>
</div>

<br><%=@university.description%><br>

<%= form_tag users_url, :method => "get" do %>
<b>Find your classmates from <%= @university.name %> by name:</b>
<%= text_field_tag :keyword %>
<%= submit_tag "Search" %>
<% end %>

<h4> Our users from <%= @university.name %> include: </h4>
<table class="table table-striped">
	
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>University</th>
		<th>Graduation Year</th>
		<th>Major</th>
		<th>Location</th>
		<th></th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<!--Retrieve and show the info of each user. Query database to find the user's details corresponding with the id-->
		<td><%= link_to user.name, user_path(user.id) %></td>
		<td><%= mail_to user.email,"#{user.email}"  %></td>
		<td><%= @university.name %></td>
		<td><%= user.graduation_year %> </td>
		<td><%= user.major %> </td>
		<td><%= link_to Location.find_by(id: user.location_id).city, location_path(user.location_id) %></td>
	</tr>
	<% end %>
	
</table>
<p><%= link_to "Back to universities main page", "/universities" %> </p>