<%= form_tag "/locations/#{@location.id}", :method => 'patch' do %>

  <div>
    <label for="city">City:</label>
    <input size="80" name="city" id="city" value="<%= @location.city %>">
  </div>

  <div>
    <label for="state">State:</label>
    <input size="4" name="state" id="state" value="<%= @location.state %>">
  </div>

  <div>
    <label>Description: </label>
    <textarea name="description" cols="80" rows="3"><%= @event.description %>"</textarea>
  </div>

  <input type="submit" name="commit" value="Update Location">

<% end %>

<p><%= link_to "Back to locations page", "/locations" %> </p>
