<h2><%= @location.city %>, <%= @location.state %></h2>

<br><%=@location.description%><br>

<%= form_tag users_url, :method => "get" do %>
	<b>Find your classmates in <%= @location.city %> by name:</b>
	<%= text_field_tag :keyword %>
  	<%= submit_tag "Search" %>
<% end %>

<h4> Our users in <%= @location.city %> include: </h4>
<table class="table table-striped">
	
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>University</th>
		<th>Graduation Year</th>
		<th>Major</th>
		<th>Location</th>
		<th></th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<!--Retrieve and show the info of each user. Query database to find the user's details corresponding with the id-->
		<td><%= link_to user.name, user_path(user.id) %></td>
		<td><%= mail_to user.email,"#{user.email}"  %></td>
		<td><%= University.find_by(id: user.university_id).name %></td>
		<td><%= user.graduation_year %> </td>
		<td><%= user.major %> </td>
		<td><%= @location.city %></td>
	</tr>
	<% end %>
	
</table>

<p><%= link_to "Back to locations main page", "/locations" %> </p>